<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}


    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}">

    {%  style  %} 


      /* NOTE: DEFINING ROOT VARIABLE THROUGH THEME SETTINGS */

      :root {
        --r: calc((100vw / 1920) * 10);

        --font-primary-family: {{ settings.font_primary.family }}, {{ settings.font_primary.fallback_families }};
        --font-primary-style: {{ settings.font_primary.style }};
        --font-primary-weight: {{ settings.font_primary.weight }};
        --font-primary-weight-bold: {{ settings.font_primary.weight | plus: 300 | at_most: 1000 }};

        --font-secondary-family: {{ settings.font_secondary.family }}, {{ settings.font_secondary.fallback_families }};
        --font-secondary-style: {{ settings.font_secondary.style }};
        --font-secondary-weight: {{ settings.font_secondary.weight }};
        --font-secondary-weight-bold: {{ settings.font_secondary.weight | plus: 300 | at_most: 1000 }};

        --color-background: {{settings.background_color}};
        --color-primary: {{settings.primary_color}};
        --color-brand: {{settings.brand_color}};
      }

      @media screen and (max-width: 768px) {
        :root{
          --r: calc((100vw / 768) * 10);
        }
      }

       @media screen and (max-width: 430px) {
        :root{
          --r: calc((100vw / 430) * 10);
        }
      }

      /* TODO: DEFINE COLOR SCHEMES */

    {% endstyle %}

  {{ "reset.css" |  asset_url |  stylesheet_tag }}
  {{ "base.css" |  asset_url |  stylesheet_tag }}
  {{ "utils.css" |  asset_url |  stylesheet_tag }}

  <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
  </script>

  <script src="{{ "vendor_lenis.min.js"  | asset_url}}" defer></script> 
  <script src="{{ "vendor_gsap.min.js" |  asset_url }}" defer></script>
  <script src="{{ "main.js" |  asset_url }}" defer></script>

</head>
<body>
  {% sections 'header-group' %}

  <main id="content">
    {{ content_for_layout }}
  </main>


  <script>
      window.shopUrl = '{{request.origin}}'
  </script>


</body></html>