{% comment %} WIS?: The navigation header component (section) {% endcomment %}

{{ 'layout_navigation-header.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 0 %}
  <navigation-header>
    {% for block in section.blocks %}
      {% if block.type == "menu-toggle" %}
				{% assign toggle_text = block.settings.menu-toggle--closed | split: " " %}
        <button {{block.shopify_attributes}} class="menu-toggle" data-close-text="{{block.settings.menu-toggle--open}}" data-open-text="{{block.settings.menu-toggle--closed}}"><span><sup>{{ toggle_text.first }}</sup>{{ toggle_text.last }}</span></button>
      {% endif %}
    {% endfor %}
		{% render "menu" %}
  </navigation-header>
{% endif %}

{% schema %}
  {
    "name": "Header",
    "class": "section__header",
    "limit": 1,
    "settings": [],
    "blocks": [
      {
        "type": "menu-toggle",
        "limit": 1,
        "name": "Menu Toggle",
        "settings": [
          {
            "type": "text",
            "label": "Opened Menu Text",
            "default": "Close Menu",
            "info": "The text for the navigation menu (Opened)",
            "id": "menu-toggle--open"
          }, {
            "type": "text",
            "label": "Closed Menu Text",
            "default": "Open Menu",
            "info": "The text for the navigation menu (Closed)",
            "id": "menu-toggle--closed"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Header",
        "category": "Navigation",
      }
    ]
  }
{% endschema %}

<script src="{{ 'section_navigation-header.js' | asset_url }}" defer></script>