{% comment %} WIT?: A section with an image and text {% endcomment %}

{{ 'section_image-with-text.css' | asset_url | stylesheet_tag }}

<image-with-text class="image-with-text--{{section.settings.image-alignment}}" data-animation="{{section.settings.animation}}">
  <figure class="image-with-text__image">
    {% if section.settings.image != blank %}
      {{ section.settings.image | image_url: width: 500 | image_tag: height: nil, draggable: false }}
    {% endif %}
  </figure>
  <div class="image-with-text__text">
    <h2>
      <span>
        <sup>{{- section.settings.heading | split: "" | first -}}</sup>
        {{- section.settings.heading -}}</span>
    </h2>
    {{- section.settings.text -}}
  </div>
</image-with-text>


{% schema %}
  {
    "name": "Image with Text",
    "class": "image-with-text",
    "tag": "article",
    "disabled_on": {
      "groups": ["header"],
    },
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "info": "Paragraph Heading"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "info": "Paragraph Text"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image",
        "info": "Section Image"
      },
      {
        "type": "text",
        "id": "image-alt",
        "label": "Image Alt Text"
      }, {
        "type": "select",
        "id": "image-alignment",
        "default": "image-left",
        "label": "Image Alignment",
        "info": "Alignment position for the image",
        "options": [
          {
            "label": "Image Left",
            "value": "image-left"
          }, {
            "label": "Image Right",
            "value": "image-right"
          }
        ]
      }, {
        "type": "select",
        "id": "animation",
        "default": "fade-in",
        "label": "Animation",
        "info": "Animation style for the section",
        "options": [
          {
            "label": "Fade In",
            "value": "fade-in"
          }, {
            "label": "Slide In",
            "value": "slide-in"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Image with Text",
        "category": "Page"
      }
    ]
  }
{% endschema %}

<script src="{{ 'section_image-with-text.js' | asset_url }}" defer></script>