{% comment %} WIT?: A hero section with Abbreviated sticky text {% endcomment %}

{{ 'section_sticky-hero.css' | asset_url | stylesheet_tag }}

{% if section.blocks.size > 0 %}
  <sticky-hero data-animation="{{section.settings.animation}}">
    {% for block in section.blocks %}
      {% if block.type == "hero-text" %}
        {% assign column_size = block.settings.text | split: " " | size %}
        <div
          class="sticky-hero__inner {{ section.settings.font-scale }}"
          data-block-id="hero-text"
          {{ block.shopify_attributes }}
          data-columns="{{column_size}}">

          {% assign text_parts = block.settings.text | split: ' ' %}
          {% assign text_alignment = block.settings.alignment-pattern | split: '' %}
          {% for part in text_parts %}
            {% assign word = part | split: "" %}
            {% assign remaining_chars = part %}

            {% assign alignment = '' %}
            {% case text_alignment[forloop.index0] %}
              {% when '^' %}
                {% assign alignment = 'align-top' %}
              {% else %}
                {% assign alignment = 'align-middle' %}
            {% endcase %}
            <div class="sticky-hero__column {{alignment}}">
              <div class="sticky-hero__item" data-animate="{{section.settings.animation}}">
                {% assign image_sequence = section.blocks | where: "type", "image-sequence" %}
                {% assign current_block = image_sequence[forloop.index0] %}

                <span>{{ word[0] }}</span>
                <sup>{{ remaining_chars }}</sup>

                {% if current_block and current_block.settings.image %}
                  <figure class="stick-hero__column-image">
                    {{ current_block.settings.image | image_url: width: 300 | image_tag: height: nil, draggable: false }}
                  </figure>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </sticky-hero>
{% endif %}

{% schema %}
  {
    "name": "Sticky Hero",
    "class": "sticky-hero",
    "tag": "section",
    "limit": 1,
    "disabled_on": {
      "groups": ["header"]
    },
    "settings": [
      {
        "type": "select",
        "id": "font",
        "label": "Font",
        "default": "primary",
        "info": "Font Family to be used",
        "options": [
          {
            "label": "Primary",
            "value": "primary"
          }, {
            "label": "Secondary",
            "value": "secondary"
          }
        ]
      }, {
        "type": "select",
        "id": "font-scale",
        "label": "Font Size",
        "default": "font-scale--xl",
        "options": [
          {
            "label": "M",
            "value": "font-scale--medium"
          }, {
            "label": "L",
            "value": "font-scale--large"
          }, {
            "label": "XL",
            "value": "font-scale--xl"
          }
        ]
      }, {
        "type": "select",
        "id": "animation",
        "default": "fade-in",
        "label": "Animation",
        "info": "Animation style for the section",
        "options": [
          {
            "label": "Fade In",
            "value": "fade-in"
          }, {
            "label": "Slide In",
            "value": "slide-in"
          }
        ]
      }
    ],
    "blocks": [
      {
        "name": "Abbreviation",
        "type": "hero-text",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Hero Text",
            "default": "I Wish You Never Left"
          }, {
            "type": "text",
            "id": "alignment-pattern",
            "label": "Alignment Pattern",
            "info": "Use ^ for top and - for below - An Example would be ^-^--",
            "default": "^-^--"
          }
        ]
      }, {
        "name": "Hero Image",
        "type": "image-sequence",
        "limit": 5,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Hero Image"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Sticky Hero",
        "category": "Page"
      }
    ]
  }
{% endschema %}

{% comment %} importing the section sticky-hero script {% endcomment %}
<script src="{{ 'section_sticky-hero.js' | asset_url }}" defer></script>